$c-theme-bg-light: #FFF;
$c-theme-bg-light-content: #000;
$c-theme-bg-dark: 000;
$c-theme-bg-dark-content: #FFF;
$c-theme-bg-dark-accent-muted: #1A1A1A;
$c-theme-accent: #D7B065;
$c-theme-accent-muted: #FAE3B5;
$c-grey-01: #EAEAEA;
$c-grey-02: #D5D5D5; // Tags?
$c-grey-03: #B1B1B1;
$c-grey-04: #4B4B4B;
