<title>Babs Gösgens – {{ page.title }}</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="{{ page.meta.description | default: site.meta.description }}" />
<meta name="keywords" content="{{ page.meta.keywords | default: site.meta.keywords | join: ", " }}" />
<meta name="author" content="{{ page.author | default: site.meta.author | join: ", " }}" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="robots" content="{{ page.meta.robots | default: site.meta.robots }}">

<link rel="shortcut icon" href="/assets/images/favicon.ico" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="http://fonts.googleapis.com/css?family=Playfair+Display%7CMontserrat:400,700%7CRoboto:300,300i,400,400i,700,700i&display=swap" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Zeyada&text=<3Babs&display=swap" rel="stylesheet" type="text/css">

<link rel="stylesheet" type="text/css" href="/assets/css/clear.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/slick.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/common.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/sm-clean.css" />
<link rel="stylesheet" type="text/css" href="{{ '/assets/css/style.css' | relative_url }}" />

<!--[if lt IE 9]>
        <script src="/assets/js/html5.js"></script>
        <script src="/assets/js/respond.min.js"></script>
<![endif]-->
{{ page.meta | to_json }}
