<script>
    var {{ slick_id | default: 'slider' }}_speed = {{ page.slider_speed | default: '"2000"'}};
    var {{ slick_id | default: 'slider' }}_auto = {{ page.slider_auto | default: '"true"'}};
    var {{ slick_id | default: 'slider' }}_hover = {{ page.slider_hover | default: '"true"'}};
    var {{ slick_id | default: 'slider' }}_dots = {{ page.slider_dots | default: '"true"'}};
</script>

{% if page.slider_images.size %}
    {% assign slider_images = page.slider_images %}
{% endif %}

{% unless slider_images %}
{% else %}
<div class="image-slider-wrapper relative animate">
    <div id="{{ slick_id | default: 'slider' }}" class="image-slider slider">
        {% comment %}
        WTH IS THIS GETTING A DIFFERENT OBJECT???
        {% endcomment %}
        {% for image in slider_images %}
        {% assign caption = site.data.captions | where: "path", image.path  | first %}
        <figure>
                <img src="{{ image.path | default: image }}" alt="" />
                {% if caption %}
                <figcaption>{{ caption.caption }}</figcaption>
                {% endif %}
        </figure>
        {% endfor %}
    </div>
</div>
{% endunless %}
{% assign config = true %}
