<script>
    var slider_speed = {{ page.slider_speed | default: '"2000"'}};
    var slider_auto = {{ page.slider_auto | default: '"true"'}};
    var slider_hover = {{ page.slider_hover | default: '"true"'}};
    var slider_dots = {{ page.slider_dots | default: '"true"'}};
</script>
{{ page.slider_speed }}
<div class="image-slider-wrapper relative">
    <div id="slider" class="image-slider slider">
        {% for image_path in slider_images %}
        {% assign caption = site.data.captions | where: "path", image_path  | first %}
        <figure>
            <img src="{{ image_path }}" alt="" />
                {% if caption %}
                <figcaption>{{ caption.caption }}</figcaption>
                {% endif %}
        </figure>
        {% endfor %}
    </div>
</div>
