<script>
    var gallery_speed = "1500";
    var gallery_auto = "false";
</script>
<div class="carousel-slider slider">
    <div class="gallery-item">
        <img src="/assets/images/about_img-1024x440.jpg" alt="" />
        <p>
            <a href="single-gallery.html">One More Time</a>
        </p>
    </div>
    <div class="gallery-item">
        <img src="/assets/images/img_06_large-1024x539.jpg" alt="">
        <p class="item-text">
            <a href="single-gallery.html">Reminiscences from Paris</a>
        </p>
    </div>
    <div class="gallery-item">
        <img src="/assets/images/gallery_img.jpg" alt="" />
        <p class="item-text">
            <a href="single-gallery.html">Bottle of Life</a>
        </p>
    </div>
    <div class="gallery-item">
        <img src="/assets/images/img_01_large-1024x539.jpg" alt="" />
        <p class="item-text">
            <a href="single-gallery.html">Made With Love</a>
        </p>
    </div>
</div>
