{% if page.slider_images.size %}
    {% assign slider_images = page.slider_images %}
{% endif %}

{% unless slider_images %}
{% else %}
<div>
    {% comment %}
    WTH IS THIS GETTING A DIFFERENT OBJECT???
    {% endcomment %}
    {% for image in slider_images %}
    {% assign caption = site.data.captions | where: "path", image.path  | first %}
    <br>
    <figure class="animate aligncenter">
            <img src="{{ image.path | default: image }}" alt="" style="min-width: 100%" />
            {% if caption %}
            <figcaption>{{ caption.caption }}</figcaption>
            {% endif %}
    </figure>
    {% endfor %}
</div>
{% endunless %}
{% assign config = true %}
