{% if page.slider %}
{% assign slider = page.slider %}
{% endif %}

{% unless slider %}
{% else %}

<script>
    var slider_speed = {{ page.slider_speed | default: '"2000"'}};
    var slider_auto = {{ page.slider_auto | default: '"true"'}};
    var slider_hover = {{ page.slider_hover | default: '"true"'}};
    var slider_dots = {{ page.slider_dots | default: '"true"'}};
</script>
<div class="image-slider-wrapper relative">
    <div id="slider" class="image-slider slider">
        {% for item in slider %}
        <div>
            {% if item.image %}
                <img src="{{ item.image }}" alt="" />
            {% endif %}

            {% if item.caption %}
                <div class="content-750 center-relative">
                    <p class="caption entry-info">{{ item.caption }}</p>
                </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>

{% endunless %}
