---
layout: default
title: About
permalink: /about/
slider_texts: ["Als ervaren ontwerper zijn creativiteit, inleving en problem solving mijn grootste talenten en als ervaren mens breng ik mensenkennis en pragmatisme aan tafel.", "Toen ik op een dag ontdekte dat het merendeel van mijn boekenkast uit interieurboeken bestaat en dat mijn Pinterest vol zit met interieurs en meubels, klikte het.", "Ik ben geen stylist. Ik bedoel, ik kan prima een sfeer neerzetten, maar ik ben vooral van de botten, de bones.De grote gebaren, de basis voor een goeie ruimte."]
meta:
    description: Babs Gösgens is interieurontwerper in de regio Den Bosch.
    keywords:
        - Babs Gösgens
---

<div class="content-945 center-relative">
    <div class="one_third ">
        <div class="info-code ">
            <p class="info-code-title">Founded</p>
            <p class="info-code-content">MCMLXXXII</p>
        </div>
        <div class="info-code ">
            <p class="info-code-title">Art Director</p>
            <p class="info-code-content">PETER WALL</p>
        </div>
        <div class="info-code ">
            <p class="info-code-title">Headquarter</p>
            <p class="info-code-content">NEW YORK</p>
        </div>
    </div>
    <div class="two_third last ">
        <p>Ik begon mijn loopbaan op de studio van een uitgever waar mijn interesse voor grafisch ontwerp en typografie werd gewekt. Dat was in de beginjaren van digitaal ontwerpen (desktop publishing) en ik maakte al snel de volgende logische stap naar ontwerper voor ‘het’ internet. Jarenlang heb ik met heel veel plezier websites ontworpen en gemaakt.</p>
        <br>
    </div>
    <div class="clear"></div>
    <br>
</div>
<div class="box-page-width content-1140 center-relative">
    <img class="aligncenter" src="/assets/images/about/babsgosgens.jpg" alt="" />
</div>
<div class="content-945 center-relative">

    <br>
    {% include image-gallery.html %}
    {% include text_slider.html %}

    <br>
    <div class="two_third ">
        <p>Toen ik op een dag ontdekte dat het merendeel van mijn boekenkast uit interieurboeken bestaat en dat mijn Pinterest vol zit met interieurs en meubels, klikte het. Er gaat voor mij niets boven het tastbare resultaat van een object of een interieur (in plaats van een digitaal product). En dus was de volgende logische stap interieurontwerp. Mijn ervaring als grafisch- en websiteontwerper komt daarin goed van pas. Als ervaren ontwerper zijn creativiteit, inleving en problem solving mijn grootste talenten en als ervaren mens breng ik mensenkennis en pragmatisme aan tafel.</p>
        <br>
        <p>Een keertje bij jou aan tafel? Neem gerust <a href="/contact/">contact</p> op. Ik ben heel toegankelijk en ik kom graag een keertje bij je langs om je te helpen met jouw interieurproject.</p>
    </div>
    <div class="one_third last ">
        <div class="progress_bar ">
            <div class="progress_bar_title">PHOTOSHOP</div>
            <div class="progress_bar_field_holder">
                <div class="progress_bar_field_perecent" style="width:70%;"></div>
            </div>
        </div>
        <div class="progress_bar ">
            <div class="progress_bar_title">HTML/CSS</div>
            <div class="progress_bar_field_holder">
                <div class="progress_bar_field_perecent" style="width:95%;"></div>
            </div>
        </div>
        <div class="progress_bar ">
            <div class="progress_bar_title">WORDPRESS</div>
            <div class="progress_bar_field_holder">
                <div class="progress_bar_field_perecent" style="width:85%;"></div>
            </div>
        </div>
        <div class="progress_bar ">
            <div class="progress_bar_title">JS</div>
            <div class="progress_bar_field_holder">
                <div class="progress_bar_field_perecent" style="width:65%;"></div>
            </div>
        </div>
    </div><div class="clear"></div>
</div>
