<!DOCTYPE HTML>
<html lang="nl-NL">
    <head>
        {% include head.html %}
    </head>
    <body class="page">

        {% include masthead.html %}

        <div class="content-1140 header-content center-relative block">
            <h1 class="entry-title">
                Een ontwerp vertelt een verhaal. Over jou, of over je merk. Ik help je om jouw verhaal te vertalen naar je interieur.
            </h1>
            <p class="page-desc">Babs Gösgens, Interieurontwerper</p>
        </div>


        <div id="content" class="site-content">
            <ul class="grid" id="portfolio">
                {% for item in site.data.featured.home limit:page.featured_limit %}
                <li class="grid-item element-item {{ item.state | default: 'animate' }}">
                    <div class="item-wrapper">
                        <a href="{{ item.link }}">
                            <img src="{{ item.cover.path }}" alt="{{ item.cover.alt }}" />
                        </a>
                        <div class="portfolio-text-holder">
                            <div class="portfolio-info">
                                <a class="portfolio-text" href="{{ item.link }}">{{ item.buzz }}</a>
                                <p class="portfolio-category">
                                    <a href="{{ item.link }}">{{ item.title }}</a>
                                </p>
                                <p class="portfolio-arrow">
                                    <a href="{{ item.link }}">
                                        <img src="/assets/images/template/arrow@2x.png" alt="">
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
                {% if forloop.index == 3 %}
                <li class="grid-item element-item quote-item {{ item.state | default: 'animate' }}">
                    Ik hou van texturen, het mag voor mij best een beetje ruw. Dat maakt een interieur spannender.
                </li>
                {% endif %}
                {% endfor %}
            </ul>
            <div class="clear"></div>
            <div class="block center-text load-more-portfolio">
                <a target="_self" class="more-posts-portfolio">Toon meer</a>
            </div>
            <div class="clear"></div>
        </div>

        {% include footer.html %}
    </body>
</html>
