<!DOCTYPE HTML>
<html lang="nl-NL">
    <head>
        {% include head.html %}
    </head>
    <body class="single">

        {% include masthead.html %}
        {% include navigation_logic.html %}

        <div id="content" class="site-content">
            <article class="post">
                <h1 class="entry-title">{{ page.title }}</h1>
                <div class="center-relative clear animate">
                    <div class="entry-info">
                        <div class="entry-info-left">
                            <div class="cat-links">
                                <ul>
                                    <li>
                                        <a href="#">{{ page.category }}</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="entry-date published">{% include formatted_date_nl.html %}</div>
                        </div>
                        <div class="entry-info-right">
                            <div class="num-comments">
                                {% assign tags = page.tags %}
                                <a href="#">{{ page.tags | join: ", " | replace: "+", " " | upcase }}</a>
                            </div>
                            <div class="author-nickname">
                                <a href="#" title="Posts by Peter Wall">{{ site.author }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="post-num">
                        <span class="current-post">{{ current_offset }}</span>
                        <span class="separator">/</span>
                        <span class="total-posts">{{ section.size }}</span>
                    </div>

                    <div class="entry-content">
                        {{ content }}
                        <div class="content-750 center-relative">
                        <p class="signature signature--align-end"><3 Babs</p>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </article>

            {% include post_navigation.html %}
        </div>

        {% include footer.html %}
    </body>
</html>
