<!DOCTYPE HTML>
<html lang="nl-NL">
    <head>
        {% include head.html %}
    </head>
    <body class="single">

        {% include masthead.html %}

        <div id="content" class="site-content">
            <article class="post">
                <h1 class="entry-title">{{ page.title }}</h1>
                <div class="center-relative clear">
                    <div class="entry-info">
                        <div class="entry-info-left">
                            <div class="cat-links">
                                <ul>
                                    <li>
                                        <a href="{{ page.category | prepend: "/" | append: "/" | baseurl }}">{{ page.category }}</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="entry-date published">{% include formatted_date_nl.html %}</div>
                        </div>
                        <div class="entry-info-right">
                            <div class="num-comments">
                                {% assign tags = page.tags %}
                                {{ page.tags | join: ", " | replace: "+", " " }}
                            </div>
                            <div class="author-nickname">
                                {{ site.author }}
                            </div>
                        </div>
                    </div>
                    <div class="post-num">
                        <span class="current-post">{{ page.date | date: "%d" }}</span>
                        <span class="separator">/</span>
                        <span class="total-posts">{{ page.date | date: "%m" }}</span>
                    </div>

                    <div class="entry-content">
                        {{ content }}
                    </div>
                    <div class="clear"></div>
                </div>
            </article>

            {% include post_navigation.html %}
        </div>


        {% include footer.html %}
    </body>
</html>
