<!DOCTYPE HTML>
<html lang="nl-NL">
    <head>
        {% include head.html %}
    </head>
    <body class="single">

        {% include masthead.html %}

        <div id="content" class="site-content">
            <article class="post">
                <h1 class="entry-title">{{ page.title }}</h1>
                <div class="center-relative clear">
                    <div class="entry-info">
                        <div class="entry-info-left">
                            <div class="cat-links">
                                <ul>
                                    <li>
                                        <a href="#">Blog</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="entry-date published">{{ page.date | date: "%b %d, %Y" }}</div>
                        </div>
                        <div class="entry-info-right">
                            <div class="num-comments">
                                <a href="#">3 Comments</a>
                            </div>
                            <div class="author-nickname">
                                {{ site.author }}
                            </div>
                        </div>
                    </div>
                    <div class="post-num">
                        <span class="current-post">{{ page.date | date: "%d" }}</span>
                        <span class="separator">/</span>
                        <span class="total-posts">{{ page.date | date: "%m" }}</span>
                    </div>

                    <div class="entry-content">
                        {{ content }}
                    </div>
                    <div class="clear"></div>
                </div>
            </article>

            {% assign cat_list = site.categories[page.category] %}
            {% for post in cat_list %}
              {% if post.url == page.url %}
              	{% assign pOffset = forloop.index0 | minus: 1 %}
              	{% assign nOffset = pOffset | plus: 2 %}
              	{% if forloop.first == false %}
              	  {% assign next_post = cat_list[pOffset] %}
              	{% endif %}
              	{% if forloop.last == false %}
              	  {% assign previous_post = cat_list[nOffset] %}
              	{% endif %}
              	{% break %}
              {% endif %}
            {% endfor %}

            <div class="nav-links content-750 center-relative">
                <div class="nav-previous">
                    {% if previous_post %}
                        <p>{{ "Vorige artikel" | upcase }}</p>
                        <a href="{{previous_post.url}}">{{previous_post.title}}</a>
                    {% endif %}
                    <div class="clear"></div>
                </div>
                <div class="nav-next">
                    {% if next_post %}
                        <p>{{ "Volgende artikel" | upcase }}</p>
                        <a href="{{next_post.url}}">{{next_post.title}}</a>
                    {% endif %}
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>


        {% include footer.html %}
    </body>
</html>
