<!DOCTYPE HTML>
<html lang="nl-NL">
<head>
    {% include head.html %}
</head>
<body class="single single-portfolio">

    {% include masthead.html %}
    {% include navigation_logic.html %}

    {% assign slider_images = site.static_files | where_exp: "item", "item.path contains page.image_namespace" %}

    <div id="content" class="site-content">
        <div class="content-1140 center-relative bottom-100">
            <div class="center-relative clear">
                <div class="entry-content">
                    <div class="top-content">
                        <div class="animate">
                            <h1 class="entry-title">
                                {{ page.title }}
                            </h1>
                        </div>
                    </div>
                    <div class="content-970 center-relative">
                        <div class="portfolio-item-info">
                            <div class="item-info-content">
                                <div class="info-code ">
                                    <p class="info-code-title">Titel</p>
                                    <p class="info-code-content">{{ page.title | upcase }}</p>
                                </div>
                                <div class="info-code ">
                                    <p class="info-code-title">Category</p>
                                    <p class="info-code-content"><a href="{{ page.category | prepend: "/" | append: "/" | baseurl }}">{{ page.category  | upcase }}</a></p>
                                </div>
                                <div class="info-code ">
                                    <p class="info-code-title">Tags</p>
                                    {% assign tags = page.tags %}
                                    <p class="info-code-content">{{ page.tags | join: ", " | replace: "+", " " | upcase }}</p>
                                </div>
                            </div>
                            {% include portfolio_navigation.html %}
                        </div>
                        <div class="content-wrapper">
                            <p class=trailer>{{ page.standfirst }}</p>

                            {% include image-slider.html %}
                            {{ content }}

                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>

    <!--Footer-->
    {% include footer.html %}
</html>
